<!DOCTYPE html>
<html lang="ja">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PDR app</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/small-business.css" rel="stylesheet">

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">PDR app</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <p>
      <%= link_to '新規登録', new_user_registration_path, class: "btn btn-light my-3" %>
      <%= link_to 'ログイン', new_user_session_path, class: "btn btn-light my-3" %>
      </p>
    </div>
  </nav>

  <div class="container">

    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <%= image_tag "prep-image.jpg", class:"img-fluid rounded mb-4 mb-lg-0" %>
      </div>
      <div class="col-lg-5">
        <h2 class="font-weight-light">使いやすいPDR管理アプリ</h2>
        <p>このアプリではシンプルで簡単にPDRサイクルを実行することができます。取組みの「準備」から「見直し」を通して、現状の把握と今後の改善を行うことができます。短期スパンで取り入れやすく、確実にスキルUPに繋がります。</p>
      </div>
    </div>

    <div class="card text-white bg-warning my-5 py-4 text-center">
      <div class="card-body">
        <h4 class="text-white m-0">PDRサイクルを実行することで確実なスキルUPと最高のパフォーマンスが実現できます</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">PREP(準備)</h2>
            <p class="card-text">取組みたいことに必要なことをしっかり把握しましょう。取り組みたい理由や目標をしっかり把握することで、実行するためのタスクを漏れなく行うことができます。
            </p>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">DO(実行)</h2>
            <p class="card-text">PREP(準備)で決めたタスクを一つ一つ確実に実行していきましょう。その際、うまくいったこと・うまくいかなかったことなどを確認しながら行うことが大切です。</p>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">REVIEW(見直し)</h2>
            <p class="card-text">DO(実行)をし、達成度を確認しましょう。改善点を把握することで次の取組みではどのような点に注意すべきか、またどのようなタスクが必要になるかの見直しを行いましょう。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="py-5 bg-info">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Yuka Kawano 2020</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
